body {
  margin: 0;
  color: #666;
  font: 14px/1.5;
  background: #efefef;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 10px auto;
  background-color: white;
}

header {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
  background: #3c3c3e;
}

header h1 {
  margin-bottom: 0;
  color: white;
  font-size: 30px;
}

header p {
  margin-top: 0;
  color: #808082;
}

aside {
  width: 24%;
  text-align: center;
  border-right: 1px solid #ccc;
}

aside img {
  width: auto;
  height: 100%;
}

aside .cut {
  display: inline-block;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  border-radius: 50%;
}

section {
  padding-bottom: 20px;
  margin: 30px 20px 0 20px;
  text-align: start;
  border-bottom: 1px solid #ccc;
}

section a {
  color: #333;
  text-decoration: none;
}

section a:hover {
  font-weight: bold;
}

section h2 {
  color: #3097d1;
  font-size: 16px;
}

section h3 {
  color: #333;
  font-size: 16px;
}

.personal .item span:first-child {
  display: inline-block;
  width: 80px;
}

.personal .item span:last-child::before {
  content: ":";
  margin-right: 10px;
}

.skills .item {
  display: flex;
  align-items: center;
}

.skills .keyword {
  width: 80px;
}

.skills .rule {
  flex: 1;
  height: 4px;
  background: #ccc;
}

.skills .rule i {
  display: block;
  width: 10%;
  height: 4px;
  background: #000;
}

.contact .item,
.blog .item {
  display: flex;
  align-items: center;
}

.contact svg,
.blog svg {
  overflow: hidden;
  width: 1em;
  height: 1em;
  font-weight: bold;
  vertical-align: -.15em;

  fill: currentColor;
}

.contact .item span,
.blog .item span {
  margin-left: 10px;
}

main {
  flex: 1;
  min-height: calc(100vh - 160px);
}

@media (max-width: 768px) {
  aside {
    width: 100%;
  }
  aside .cut {
    width: 100px;
    height: 100px;
  }
  header {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
